/* Coded with <3 by Walter King Jenkins @AvidDabbler */

/* 
***************FONTS****************


    font-family: 'Permanent Marker', cursive;

    font-family: 'Rajdhani', sans-serif;

    font-family: 'Montserrat', sans-serif;


 */


 /* 
 *************COLORS****************
 Light Blue: 427aa1
 White: ebf2fa
 Medium Blue: 1d3461
 Orange: f06543
 Dark Blue/Black: 0a122a
 
 */

 /* CLASSES */
.cursive{
    font-family: 'Permanent Marker', cursive;
}
.text{
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
}
.para-box{
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
}
.para-box p{
    font-size: 24px;
}
.content{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    display: inline-block;
    box-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.content h1{
    font-weight: 500;
}
.light-blue{
    background-color: #ebf2fa;
}
/* ELEMENTS */
body, html {
    margin: 0px;
    padding: 0px;
    background-color: #0a122a;
    max-width: 100%;
    overflow-x: hidden;
}
h1 {
    padding: 0;
    margin: 0;
}
/* ID'S */

/* NAVBAR */

#navbar{
    display: block;
    width:100%;
    height: 60px;
}
#navbar ul{
    list-style-type: none;
    padding-right: 3%;
}
#navbar li{
    float: right;
    padding-top: 10px;
    padding-left: 6%;
    font-size: 15px;
}
#navbar a{
    color: #f06543;
    text-decoration: none;
}

/* TITLE */
#top-bar{
    margin:0px;
    padding:0px;
    width: 100%;
    display: inline-flex;
}
#hero{
    width: 100%;
    height:80%;
    float: left;
    background: rgba(29,52,97,0.5); 
    background: url("assets/images/nyc2.svg");
    background-size:cover;
    padding-top:5%;
    padding-bottom:5%;
}
#heading{
    padding-top: 8%;
    padding-left: 2%;
    display: inline-block;
    width:100%;
    float: left;
}
#sub-heading{
    display: inline-block;
    padding-left: 5%;
    margin-bottom:8%;
    width:70%;
    float: left;
}
#arrow{
    width: 100%;
    margin-top:1%;
    margin-bottom:1%;
    display: inline-block;
    position: relative;
    color: #ebf2fa;
    text-align: center;
    font-size:40px;
    text-decoration: none;
}
#arrow a{
    text-decoration: none;
    color:white;
}
#hr-left{
    padding:0;
    margin: 0;
    display: inline-block;
    position: relative;
    float: left;
    width: 45%;
}
#hr-right{
    padding:0;
    margin: 0;
    display: inline-block;
    position: relative;
    float: right;
    width: 45%;
    size: 3px;
}
#hr-left hr, #hr-right hr{
    width: 90%;
    color:#427aa1;
}
#about{
}
#about h1{
    margin-top:5%;
    color: #427aa1;   
    font-size: 75px;
    text-shadow: 5px 1px #0001;
}
#about-box{
    width:70%;
    display: inline-block;
    position: relative;
    margin-bottom: 4%;
}
#work{
    background-color: #1d3461;

}