/* Coded with <3 by Walter King Jenkins @AvidDabbler */

/* 
***************FONTS****************


    font-family: 'Permanent Marker', cursive;

    font-family: 'Rajdhani', sans-serif;

    font-family: 'Montserrat', sans-serif;


 */


 /* 
 *************COLORS****************
 Light Blue: 427aa1
 White: ebf2fa
 Medium Blue: 1d3461
 Orange: f06543
 Dark Blue/Black: 0a122a
 
 */

 /* CLASSES */

 :root{
     --light-blue: #427aa1;
     --white: #ebf2fa;
     --medium-blue: #1d3461;
     --orange: #f06543;
     --dark-blue: #0a122a
 }

.text{

    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
}
.content p{
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
}
.content{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.white{
    background-color: var(--white);
}

.blue{
    background-color: var(--medium-blue);
}
.blue p{
    color: var(--white);
}

/* ELEMENTS */
body, html {
    margin: 0px;
    padding: 0px;
    background-color: var(--dark-blue);
    max-width: 100%;
    overflow-x: hidden;
    display: inline-block;
    
}
h1, h2, h3{
    font-family: 'Permanent Marker', cursive;
    color:var(--orange);

    width: 100%;
    margin: auto;
    text-align: center;
}
h1{
    font-size: 60px;

}
h2{
    font-size: 40px;
}
nav{
    height: 100%;
}

/* ID'S */

#navbar{
    width:100%;
    height:50px;
}
#navbar ul{
    margin: 0;
    list-style-type: none;
    padding-right: 3%;
}
#navbar li{
    float: right;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    font-size: 18px;
}
#navbar a{
    color: var(--orange);
    text-decoration: none;
}
/* ul{
    list-style-type: none;
} */

/* TITLE */

#hero{
    max-height: 2px;
    width:100%;
    display: inline-flex;

}
.background-map {
    position: cover;
    display: inline-flex;
    width:100%;

}
svg:hover{
    fill:#f06543;}
.heading{
    position: absolute;
    width: 97%;
    z-index:10;
    padding-top:20%;
}
.sub-heading{
    position: absolute;
    padding-left: 5%;
    width:70%;
    float: left;
    z-index:30;
    padding-top:30%;
}

/* TRANSITION */
.downarrow{
    width: 100%; 
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--white);
    display: inline-flex;
}
.line{
    stroke: var(--white);
    stroke-width: 2px;
    height:2px;
    width: 40%;
    max-width: 500px;
    margin:auto;
}
.icon{
    height:45px;
}
.icon, .icon2{
    fill: var(--white);
    margin: auto;
    align-content: center;
}
/* .hr{
    display: flex;
    width: 45%;
    color: white;
} */

/* ABOUT SECTION */
#about-box{
    width:70%;
    display: inline-block;
    position: relative;
    margin-bottom: 4%;
}


/* SOFTWARE FAMILIARITY */

.photo-container-square, .photo-container-rect {
    position: relative;
    display: inline-block;
    padding: 2%;
}
.photo-container-square {
    width: 10%;
    height: 10%;
    min-width: 200px;
    max-height: 200px;
    margin-top: 30px;
}
.photo-container-rect{
    width: 30%;
    height: 30%;
    min-width: 400px;
    margin-top: 30px;
}
.image {
    display: inline-block;
    width: 100%;
    height: auto;
}

.rect img, .square img{
    height: 100%;
    width: auto;
}
  
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--dark-blue);
  }
  
.photo-container-square:hover .overlay{
    opacity: 0.9;
  }

.photo-container-rect:hover .overlay {
    opacity: 0.9;
}

.overlay-text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.portfolio-container {
    margin:0;
    padding:0;
    width: 90%;
    height: 5%;
    max-width:1000px;
}



/* START OF PORTFOLIO */

.portfolio-container{
    width: 100%;
}

.thumbnail{ 
    width:35%;
    display: inline-block;
    padding: 40px;

}
.thumbnail img{
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
    -webkit-box-shadow: 23px 26px 31px -9px var(--dark-blue);
    -moz-box-shadow: 23px 26px 31px -9px var(--dark-blue);
    box-shadow: 23px 26px 31px -9px var(--dark-blue);

}
.paragraph{
    text-align: center;
    width:50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    padding:10px;

}
.paragraph h1{
    padding-bottom: 30px;
}
.thumbnail img{
    float: left;
}
.paragraph h2{
    margin:0;
    font-size: 30px;
    color: var(--white);
}
@media only screen and (max-width: 700px) {
    h1 {
      font-size: 50px;
    }
    p{
        font-size: 15px;
    }

    #navbar li{
        font-size: 15px;
        margin-right:10%;

    }
    #navbar ul{
        display: flex;
        width: 100%;
    }
    .thumbnail{
        width: 45%;
        padding-bottom: 30px;
    }
  }

.footer{
    width: 100%;
    height: 80%;
    max-height:800px;
    margin:auto;
    display: inline-flex;
}
.third{
      width: 5%;
      margin: 25% auto 25%;
      display: inline-flex;

  }
  .icon2{
    height:90px;

  }
  #d3{
      width: 100%;
      height: 500px;
      background-color: white;
  }