/* Coded with <3 by Walter King Jenkins @AvidDabbler */

/* 
***************FONTS****************


    font-family: 'Permanent Marker', cursive;

    font-family: 'Rajdhani', sans-serif;

    font-family: 'Montserrat', sans-serif;


 */


 /* 
 *************COLORS****************
 Light Blue: 427aa1
 White: ebf2fa
 Medium Blue: 1d3461
 Orange: f06543
 Dark Blue/Black: 0a122a
 
 */

 /* CLASSES */

.text{
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
}
.content p{
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
}
.content{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.content h1{
    font-weight: 500;
}
.white{
    background-color: white;
}

.blue{
    background-color: #1d3461;
}

.blue h1{
    color: #427aa1;   
    font-size: 75px;
    text-shadow: 5px 1px #0001;
}
.blue p{
    color: #ebf2fa;
}
.port{

}
/* ELEMENTS */
body, html {
    margin: 0px;
    padding: 0px;
    background-color: #0a122a;
    max-width: 100%;
    overflow-x: hidden;
    display: inline-block;
    
}
h1{
    color: #427aa1;   
    font-size: 75px;
    text-shadow: 5px 1px #0001;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
}
h2{
    color: #427aa1;   
    font-size: 40px;
    text-shadow: 5px 1px #0001; 
}

/* ID'S */

#navbar{
    width:100%;
    height:4%;
    max-height: 60px;
}
#navbar ul{
    margin: 0;
    list-style-type: none;
    padding-right: 3%;
}
#navbar li{
    float: right;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    font-size: 15px;
}
#navbar a{
    color: #f06543;
    text-decoration: none;
}

/* TITLE */

#hero{
    width: 100%;
    float: left;
    background: url("assets/images/nyc2.svg");
    background-size:cover;
    padding-top:2.5%;
    padding-bottom:2%;
}
#heading{
    padding-top: 8%;
    padding-left: 2%;
    width:97%;
    float: left;
    box-shadow: #0a122a
}
#sub-heading{
    padding-left: 5%;
    margin-bottom:8%;
    width:70%;
    float: left;
}



/* TRANSITION */
#arrow{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
    color: #ebf2fa;
    text-align: center;
    font-size: 40px;
}
#arrow a{
    text-decoration: none;
    color: white;
}
#hr-left{

    display: inline-block;
    position: relative;
    float: left;
    width: 45%;
}
#hr-right{
    display: inline-block;
    position: relative;
    float: right;
    width: 45%;
    size: 3px;
}
#hr-left hr, #hr-right hr{
    width: 90%;
    color:#427aa1;
}


/* ABOUT SECTION */
#about-box{
    width:70%;
    display: inline-block;
    position: relative;
    margin-bottom: 4%;
}


/* WORK SECTION */
#work{
    background-color: #1d3461;
}

/* SOFTWARE FAMILIARITY */
#companies-container{
    width:100%;
    position: relative;
    display: inline-block;
}
.photo-container-square {
    position: relative;
    display: inline-block;
    padding: 2%;
    width: 10%;
    height: 10%;
    min-width: 200px;
    max-height: 200px;
    margin-top: 30px;
}
.photo-container-rect{
    position: relative;
    display: inline-block;
    padding:2%;
    width: 30%;
    height: 30%;
    min-width: 400px;
    margin-top: 30px;
}
.image {
    display: inline-block;
    width: 100%;
    height: auto;
}
.square img{
    height: 100%;
    width: auto;
}
.rect img{
    height: 100%;
    width: auto;
}
  
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d3461;
  }
  
.photo-container-square:hover .overlay{
    opacity: 0.9;
  }

.photo-container-rect:hover .overlay {
    opacity: 0.9;
}

.overlay-text {
    color: #f06543;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.portfolio-container {
    margin:0;
    padding:0;
    width: 90%;
    height: 5%;
}



/* START OF PORTFOLIO */

#portfolio h1{
    padding-bottom: 30px;
}
.left-card, .right-card{ 
    width:30%;
}
.left-card img, .right-card img{
    width:100%;
    border: 5px solid #427aa1;
    border-radius: 10px;
}
.left-para img, .left-card img, .left-card, .left-para{
    float: left;
}
.right-para img, .right-card img, .right-para, .right-card{
    float: right;
}
.right-para, .left-para{
    text-align: center;
    width:65%;
    height: 100%;
    padding:0;
    margin:0;
}
.right-para h2, .left-para h2{
    margin:0;
    color: #ebf2fa;
}